<!--<ng-content select="h1"></ng-content>

<div *ngIf="nome != 'APG'">
  <p [ngClass]="{'active': valor, 'disabled': !valor}">teste diretivas-atributos</p>
  <p [ngStyle]="{'height':heightPx, 'background':backgroundColor}">NgClass</p>
</div>

<hr>

<input [(ngModel)]="nome"> {{nome}}
<button (click)="salvar()">Salvar</button>
<li *ngFor="let item of list">{{item.nome}}</li>

<ng-template ngFor let-item [ngForOf]="list">

  <p>
    {{item.nome}}
  </p>

</ng-template>

<input [(ngModel)]="nome"> {{nome}}
<button (click)="salvar()">Salvar</button>

<ng-content select="h3"></ng-content>
<input [(ngModel)]="nome"> {{nome}}
<button (click)="salvar()">Salvar</button>

<li *ngFor="let item of list">{{item.nome | uppercase}}</li>

{{date | date: 'dd/MM/yyyy'}}
-->

